<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rifat.covid19app">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/logoa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoa"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19App">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".view.Activity.DetailProvinsiActivity"></activity>
        <activity
            android:name=".view.Activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>